span.cn {
	display: inline-block;
	transform: matrix(0, 1, 1, 0, 0, 0);
	-ms-transform-origin: 0% 0%;
	-ms-transform: matrix(0,1,1,0,0,0);
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: matrix(0,1,1,0,0,0);
	-o-transform-origin: 0% 0%;
	-o-transform: matrix(0,1,1,0,0,0);
	-moz-transform-origin: 0% 0%;
	-moz-transform: matrix(0,1,1,0,0,0);
	padding: 0;
	line-height: 1;
	text-indent: 0;
}