/*@font-face {
    font-family: "OrhonChaganRTL";
    src: url("OrhonChaganTig-RTL.ttf") format("truetype"), url("OrhonChaganTig-RTL.woff") format("woff");
}
@font-face {
    font-family: "OrhonChaganL";
    src: url("OrhonChaganTig.ttf") format("truetype"), url("OrhonChaganTig.eot?#iefix") format("truetype"),url("OrhonChaganTig.woff") format("woff");
}*/
@font-face {
    font-family: "OrhonChaganRTL";
    src: url("font/OrhonChaganTig-RTL.ttf") format("truetype")/*, url("font/OrhonChaganTig-RTL.woff") format("woff")*/;
   /* src: url("font/OrhonGarchagTig-RTL.eot") format("truetype");*/
}

@font-face {
    font-family: "OrhonChaganL";
    src: url("font/OrhonChaganTig.ttf") format("truetype"), url("font/OrhonChaganTig.eot?#iefix") format("truetype");
   /*src: url("http://192.168.0.116:8888/orhon_tiny_ime/orhonjsime/css/font/OrhonChaganTig.eot") format("truetype");*/
}
@font-face {
    font-family: "OrhonChagan-HLI";
    src: url("font/OrhonChaganTig-H.ttf") format("truetype"), url("font/OrhonChaganTig-H.eot?#iefix") format("truetype");
   /*src: url("http://192.168.0.116:8888/orhon_tiny_ime/orhonjsime/css/font/OrhonChaganTig.eot") format("truetype");*/
}
/*@font-face {
    font-family: "OrhonChaganL";
    src: url("OrhonChaganTig.ttf") format("truetype");
}*/
#orhon_key_wrap {
	display:none;
	position:fixed;
	left:0px;
	top:0px;
}
.ui-widget input, .ui-widget select {
    font-family: "OrhonChaganL",Verdana,Segoe UI,Arial,sans-serif !important;
    /*font-size: 1.0em;
    text-align: center;
    transform: rotate(90deg) translate(0%, -45px);
    -webkit-transform: rotate(90deg) translate(0%, -45px);
    -moz-transform: rotate(90deg) translate(0%, -45px);
    -o-transform: rotate(90deg) translate(0%, -45px);
    -ms-transform: rotate(90deg) translate(0%, -45px);
    transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -o-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    unicode-bidi: bidi-override;
    vertical-align: top;*/
}
.ui-orhonkb-textarea {
    direction: rtl;
    font-family: "OrhonChaganRTL",Verdana,Segoe UI,Arial,sans-serif !important;
    /*font-family: "OrhonChaganL",Verdana,Segoe UI,Arial,sans-serif !important;*/
    border:2px solid #000;
    font-size: 20pt !important;
   /* width: 12.9em;
    height:11em;*/
  /*  width: 10.5em;
   height:9em;*/
   
   
   width: 270px;
   height:250px;
    text-align: right;
    transform: rotate(-90deg) translate(-100%, 10px);
    -webkit-transform: rotate(-90deg) translate(-100%, 10px);
    -moz-transform: rotate(-90deg) translate(-100%, 10px);
    -o-transform: rotate(-90deg) translate(-100%, 10px);
    -ms-transform: rotate(-90deg) translate(-5%, 0px);
    transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -o-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    unicode-bidi: bidi-override;
    vertical-align: top;
	background:url(images/candidate-textarea.png) 50% repeat;
	/*box-shadow: -3px 3px 4px #000;
	-moz-box-shadow: -3px 3px 4px #000;
    -webkit-box-shadow: -3px 3px 4px #000;
    -o-box-shadow: -3px 3px 4px #000;
	-ms-box-shadow: -3px 3px 4px #000;*/
	
}
.ui-widget button {
    text-align: center;
    font-family: "OrhonChaganL",Verdana,Segoe UI,Arial,sans-serif;
    font-size: 22px;
}
/*.ui-widget input {
	text-align: left;
	color:#000;
	box-shadow: 3px -3px 4px #000;
	-moz-box-shadow: 3px -3px 4px #000;
    -webkit-box-shadow: 3px -3px 4px #000;
    -o-box-shadow: 3px -3px 4px #000;
	-ms-box-shadow: 3px -3px 4px #000;
	
}*/

/* orhonkb - jQuery UI Widget */
.ui-textinput-hide {
  /*  direction: rtl; */
    font-family: "OrhonChaganL",Verdana,Segoe UI,Arial,sans-serif;
    font-size: 1.0em;
    text-align: left;
    color:#000;
   /* box-shadow: 3px -3px 4px #000;
	-moz-box-shadow: 3px -3px 4px #000;
    -webkit-box-shadow: 3px -3px 4px #000;
    -o-box-shadow: 3px -3px 4px #000;
	-ms-box-shadow: 3px -3px 4px #000;*/
	transform-origin: 0 0;
    transform: rotate(90deg) translate(0%,-41px);
    -webkit-transform-origin:  0 0;
    -webkit-transform: rotate(90deg) translate(0%, -41px);
    -moz-transform-origin: left top 0;
    -moz-transform: rotate(90deg) translate(0%, -41px);
    -o-transform-origin: left top 0;
    -o-transform: rotate(90deg) translate(0%, -41px);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(90deg) translate(0%, -41px);
    unicode-bidi: bidi-override;
    vertical-align: top;
  /*  display: none;*/
}

.wr {
	color:blue;
}
/*.ui-textinput-hide, .ui-textarea-hide {border:solid 1; float:left; display:none}*/
.ui-orhonkb { 
	/*padding: .3em; */
	z-index: 16000;
	font-size:12.5pt;
	cursor: move;
	border:3px solid #c9c9c9;
	position:fixed !important;
	/*margin: 120px 0px 0px 180px;
	top:120px !important;
	left:180px !important;
	background-color:#333333;*/
	background-color:#434343;
    box-shadow: 7px 8px 20px -10px #000;
	-moz-box-shadow: 7px 8px 20px -10px #000;
    -webkit-box-shadow: 7px 8px 20px -10px #000;
    -o-box-shadow: 7px 8px 20px -10px #000;
	-ms-box-shadow: 7px 8px 20px -10px #000;
	/*width:700px;	top:0px;
	left:0px;*/

}
.ui-orhonkb img{
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}
.ui-orhonkb-has-focus { z-index: 16001; }
.ui-orhonkb div {
	font-size: 1.5em; 
}
.ui-orhonkb-button { 
	height: 2em; width: 2em; min-width: 1em; 
	padding: 0;margin: .1em; 
	cursor: pointer; overflow: hidden; 
	line-height: 2em; 
	-moz-user-focus: ignore;
	vertical-align: top;
	}
.ui-button-shadow {
	box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    -o-box-shadow: 3px 3px 4px #000;
	-ms-box-shadow: 3px 3px 4px #000;
}
.ui-orhonkb-button span { font-family: sans-serif;padding: 0; margin: 0; white-space:nowrap; display: inline-block;width: 1em; background: no-repeat;}
.ui-orhonkb-button-hide{bottom:0px;}
.ui-orhonkb-cancel{margin-top: 54px;}
.ui-orhonkb-cancel, .ui-orhonkb-accept, .ui-orhonkb-change {margin-left:4px;}
.ui-orhonkb-button-endrow { clear: left; }
.ui-orhonkb-widekey { width: 2em;}
.ui-orhonkb-space {width: 15.2em; height: 2em;}
.ui-orhonkb-space span, .ui-orhonkb-empty span { font: 0/0 a; text-shadow: none; color: transparent; } /* see http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ui-orhonkb-preview-wrapper { text-align: center; width: 1.8em;border:solid 2px #000000;}
.ui-orhonkb-preview-hide { height: 256px; width: 2.2em;margin-right:3px;}
.ui-orhonkb-preview { margin: 3px 0 3px 0; display: inline; width: 99%;width: 249px !important;max-width: none;padding: 6px 0px 0px 2px;} /* width is calculated in IE, since 99% = 99% full browser width =( */ 
.ui-orhonkb-keyset { text-align: center; white-space: nowrap; }
.ui-orhonkb-input { text-align: left; }
.ui-orhonkb-input-current { -moz-box-shadow: 1px 1px 10px #00f; -webkit-box-shadow: 1px 1px 10px #00f; box-shadow: 1px 1px 10px #00f; }
.ui-orhonkb-placeholder { color: #888; }
.ui-orhonkb-noorhonkb { color: #888; border-color: #888; } /* disabled or readonly inputs, or use input[disabled='disabled'] { color: #f00; } */
.ui-orhonkb-button.disabled { opacity: 0.5; filter: alpha(opacity=50); } /* used by the acceptValid option to make the accept button appear faded */
.ui-orhonkb-spacer { display: inline-block; width: 1px; height: 0; }
.ui-orhonkb span {max-width: 100%;}

.b-img{ max-width: 120%;}
img.ui-orhonlogo{ 
	max-width: 95%;
	margin-top:4px;
}


#orhonkb_ui .Lcan {
	font-family: Verdana,Segoe UI,Arial,sans-serif !important;
	/*transform: rotate(-90deg) translate(-100%, 60px);
    -webkit-transform: rotate(-90deg) translate(-100%, 60px);
    -moz-transform: rotate(-90deg) translate(-100%, 60px);
    -o-transform: rotate(-90deg) translate(-100%, 60px);
    -ms-transform: rotate(-90deg) translate(-100%, 60px);*/
    display: inline-block;
    transform: scale(1,-1);
    -webkit-transform: scale(1,-1);
    -ms-transform: scale(1,-1);
    -moz-transform: scale(1,-1);
    -o-transform: scale(1,-1);
    
}
.Mcan {
	/*color:#ee8500;
	float:left;*/
}

.ui-orhonkb-accept, .ui-orhonkb-cancel, .ui-orhonkb-default, .ui-orhonkb-meta1, .ui-orhonkb-bksp {height: 2em;}
.ui-orhonkb-enter, .ui-orhonkb-shift, .ui-orhonkb-tab { width: 4em;}

.ui-orhonkb-preview-wrapper, .ui-orhonkb-preview-hide, .ui-orhonkb-textarea { border:solid 0; float:left;}
.ui-orhonkb-candidate { 
	border-left:solid 4px #c9c9c9;
	height: 256px; width: 12.1em; 
	TEXT-ALIGN: left;
	/*background:#333333;*/
	background-color:#434343;
	/*padding-top: .3em;*/
	margin-left:7px;
	transform: translate(-3%, 10px);
    -webkit-transform: translate(-3%, 0px);
    -moz-transform: translate(-3%, 0px);
    -o-transform: translate(-3%, 0px)translate(10px, 8px);
    -ms-transform: translate(-3%, 0px);
    transform-origin: center center 0;
    -webkit-transform-origin: center center 0;
    -moz-transform-origin: center center 0;
    -o-transform-origin: center center 0;
    -ms-transform-origin: center center 0;
    unicode-bidi: bidi-override;
    vertical-align: top;
    font-size:20pt;
    float:left;
    overflow:hidden;
    padding-top: 0;
   /* box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    -o-box-shadow: 3px 3px 4px #000;
	-ms-box-shadow: 3px 3px 4px #000;*/
}
.ui-orhonkb-preview-wrapper input.ui-orhonkb-preview{
	padding: 3px;
}
.ui-candidate-page { font-size:15pt;}
.ui-candidate-div { 
	/*direction: rtl;*/
	font-family: "OrhonChaganL",Verdana,Segoe UI,Arial,sans-serif !important;
/*	border:solid 2px;
	width:5.2em;height: 5.6em; */
	width:290px;height: 290px;
	/*text-align: right; */
	unicode-bidi: bidi-override;
/*	transform: rotate(-90deg) translate(10px, 8px);
	-webkit-transform: rotate(-90deg) translate(10px, 8px);
    -moz-transform: rotate(-90deg) translate(10px, 8px);
    -o-transform: rotate(-90deg) translate(10px, 8px);
    -ms-transform: rotate(-90deg) translate(10px, 8px);*/

}
.ui-candidate-span-space { width:20px;height: 4em; float:left;}
.ui-candidate-button { 
	cursor: pointer;
	width:20px;height: 20px; background-repeat : no-repeat;
	transform: translate(1px, 5px);
	-webkit-transform: translate(1px, 5px);
    -moz-transform: translate(1px, 5px);
    -o-transform: translate(1px, 5px);
    -ms-transform: translate(1px, 5px);
}

/*.ui-candidate-button, .ui-candidate-page {float:left;}*/
.ui-candidate-li-num {
	/*display:inline block;*/
	float:left;
	margin:0px; 
	padding:0px;
	font-size: 23pt;
	text-align: center;
	width:35px;
	color:white;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
/*.ui-candidate-li-num:hover {background:#1C86EE;}*/
#orhonkb_ui #list ul { 
	font-family: OrhonChagan-HLI;
	margin: 0;
	padding: 0 !important;
	/*direction: rtl;
	font-family: "OrhonChaganRTL",Verdana,Segoe UI,Arial,sans-serif;list-style:none; margin:0px; padding:0px; 	float:right; cursor: pointer; line-height: 30px;
	font-family: Verdana,Segoe UI,Arial,sans-serif;list-style:none; margin:0px; padding:0px; 	float:right; cursor: pointer; */
	line-height: 21.7pt;
	/*width:145%;*/
	/*width:200%;*/
	}
#orhonkb_ui div#list {
	transform-origin: 0% 0%;
	transform: matrix(0, 1, 1, 0, 0, 0);
	-ms-transform-origin: 0% 0%;
	-ms-transform: matrix(0,1,1,0,0,0);
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: matrix(0,1,1,0,0,0);
	-o-transform-origin: 0% 0%;
	-o-transform: matrix(0,1,1,0,0,0);
	-moz-transform-origin: 0% 0%;
	-moz-transform: matrix(0,1,1,0,0,0);
	padding-top: 9px;
}
/*span.ui-candidate-li-num{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}*/
#orhonkb_ui #list ul li { 
	/*direction: rtl;*/
	margin:0; 
	padding:0;
	font-size: 19.2pt;
	display:block; 
	color:#ee8500;
	width: 100%; 
	/*transform: rotate(180deg);
	-ms-transform: rotate(180deg);*/
	word-break: keep-all;
	word-wrap: normal;
	white-space: nowrap;
	cursor: pointer;
	}
.kbinitpos{
	bottom: 0px;
	right: 0px;
}
.ui-OrhonIMEState{
	position:fixed;
/* 	background-color:black; */
	/*border:solid 2px #c9c9c9;*/
	cursor: pointer;
	width:50px;
	height: 163px;
	font-size:50pt;
	bottom:0;
	right:0;
	z-index: 2147483647;
}
.orhonime_skin_m {
	background: blue;
	background: url(../images/orhonimestatus_m.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.orhonime_skin_e{
	background: blue;
	background: url(../images/orhonimestatus_e.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#OrhonIMEState div#orhonime_help {
	width: 100%;
	height: 45px;
	/* margin-top: 110px; */
	bottom: 0px;
	/*border: 1px solid;*/
	position: absolute;
	right: 0;
	/*background:yellow;*/
	cursor: pointer;
}
div#orhonime_help div#orhonime_help_content{
	display: none;
}
div#orhonime_help:hover div#orhonime_help_content {
	position: absolute;
	bottom: 0;
	right: 50px;
	display: block;
	transform-origin: 100% 100%;
	transform: matrix(0,1,1,0,0,0);
	-ms-transform-origin: 100% 100%;
	-ms-transform: matrix(0,1,1,0,0,0);
	-moz-transform-origin: 100% 100%;
	-moz-transform: matrix(0,1,1,0,0,0);
	-webkit-transform-origin: 100% 100%;
	-webkit-transform: matrix(0,1,1,0,0,0);
	-o-transform-origin: 100% 100%;
	-o-transform: matrix(0,1,1,0,0,0);
	font-size: 20px;
	width: 162px;
	line-height: 1.5;
	word-break: keep-all;
	background: rgba(0, 0, 0,0.67);
	padding: 5px;
	border: 3px solid #B7B7B7;
	border-radius: 5px;
	color: #EB9425;
}
#orhonkb_ui #list ul li:hover { background:#313131; }
.ui-orhonkb-keyset { border-top:solid 3px #c9c9c9;clear:left;padding-right: 1px;padding-bottom: 1px;}


/* combo key styling - toggles diacritics on/off */
#orhonkb_ui .ui-orhonkb-button.ui-orhonkb-combo.ui-state-default { border-color: #ffaf0f;}


/* (in)valid inputs */
#orhonkb_ui button.ui-orhonkb-accept.ui-orhonkb-valid-input { border-color: #0c0; background: #080; color: #fff; }
button.ui-orhonkb-accept.ui-orhonkb-valid-input:hover { background: #0a0; }
button.ui-orhonkb-accept.ui-orhonkb-invalid-input { border-color: #c00; background: #800; color: #fff; }
button.ui-orhonkb-accept.ui-orhonkb-invalid-input:hover { background: #a00; }

/*** jQuery Mobile definitions ***/
/* jQuery Mobile styles - need wider buttons because of font size and text-overflow:ellipsis */
.ui-bar .ui-orhonkb-button { width: 3em; display: inline-block; text-align: center;}
.ui-bar .ui-orhonkb-widekey { width: 5.5em; }
.ui-bar .ui-orhonkb-space { width: 15em; }
.ui-bar .ui-orhonkb-space span { visibility: hidden; } /* hides the ellipsis */
.ui-bar .ui-orhonkb-keyset { line-height: 0.5em; }
.ui-bar input.ui-input-text, .ui-bar textarea.ui-input-text { width: 95%; }

/* over-ride padding set by mobile ui theme - needed because the mobile script wraps button text with several more spans */
.ui-bar .ui-btn-inner { height: 2em; padding: 0.2em 0; margin: 0; }
.ui-bar .ui-btn { margin: 0; font-size: 13px; } /* mobile default size is 13px */

/* Media Queries (optimized for jQuery UI themes; may be slightly off in jQuery Mobile themes) */
/* 240 x 320 (small phone)  */
/*@media all and (max-width: 319px) {
	.ui-orhonkb div { font-size: 9px; }
	.ui-orhonkb .ui-orhonkb-input { font-size: 12px; }
	/* I don't own an iPhone so I have no idea how small this really is... is it even clickable with your finger? *!/
	.ui-bar .ui-btn { margin: 0; font-size: 9px; }
	.ui-bar .ui-orhonkb-button { width: 1.8em; height: 2.5em; }
	.ui-bar .ui-orhonkb-widekey { width: 4em; }
	.ui-bar .ui-orhonkb-space { width: 8em; }
	.ui-bar .ui-btn-inner { height: 2.5em; padding: 0.3em 0; }
}

/* 320 x 480 (iPhone)  *!/
@media all and (min-width: 320px) and (max-width: 479px) {
	.ui-orhonkb div { font-size: 9px; }
	.ui-orhonkb .ui-orhonkb-input { font-size: 14px; }
	/* I don't own an iPhone so I have no idea how small this really is... is it even clickable with your finger? *!/
	.ui-bar .ui-btn { margin: 0; font-size: 11px; }
	.ui-bar .ui-orhonkb-button { width: 1.8em; height: 3em; }
	.ui-bar .ui-orhonkb-widekey { width: 4.5em; }
	.ui-bar .ui-orhonkb-space { width: 10em; }
	.ui-bar .ui-btn-inner { height: 3em; padding: 0.7em 0; }
}

/* 480 x 640 (small tablet) *!/
@media all and (min-width: 480px) and (max-width: 767px) {
	.ui-orhonkb div { font-size: 13px; }
	.ui-orhonkb .ui-orhonkb-input { font-size: 14px; }
	.ui-bar .ui-btn { margin: 0; font-size: 10px; }
	.ui-bar .ui-orhonkb-button { height: 2.5em; }
	.ui-bar .ui-btn-inner { height: 2.5em; padding: 0.5em 0; }
}*/

.alertFramclass{
	transform: matrix(0,1,1,0,0,0);
	-ms-transform: matrix(0,1,1,0,0,0);
	-moz-transform: matrix(0,1,1,0,0,0);
	-webkit-transform: matrix(0,1,1,0,0,0);
	-o-transform: matrix(0,1,1,0,0,0);
}